<p id="notice"><%= notice %></p>
<div class="d-flex justify-content-center align-items-center container">
  <div class="row">
    <%= form_with do |form| %>
        <div class="form-group">
          <%= form.label :first_name %>
          <%= form.text_field :first_name, :value => @user.first_name, :readonly => true, :class => "form-control" %>
        </div>

      <div class="form-group">
          <%= form.label :last_name %>
          <%= form.text_field :last_name, :value => @user.last_name, :readonly => true, :class => "form-control" %>
      </div>

      <div class="form-group">
          <%= form.label :email %>
          <%= form.text_field :email, :value => @user.email, :readonly => true, :class => "form-control" %>
      </div>
      <%= link_to 'Edit', '/users/'+ current_user.id.to_s + '/edit', :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>




