<p id="notice"><%= notice %></p>

<h1>Leads</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Company name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Project name</th>
      <th>Project description</th>
      <th>Department in charge of the elevators</th>
      <th>Message</th>
      <th>Date of the contact request</th>
      <th>Attachment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td><%= lead.full_name %></td>
        <td><%= lead.company_name %></td>
        <td><%= lead.email %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.project_name %></td>
        <td><%= lead.project_description %></td>
        <td><%= lead.department_in_charge_of_the_elevators %></td>
        <td><%= lead.message %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lead', new_lead_path %>
