<div class="heading-title heading-dotted text-center">
	<h2>Intervention</h2>
</div>

<%= form_for @intervention.to_s, method: :post, remote: true do |f| %>
    <%= f.collection_select :Customer, Customer.all , :id , :company_name, prompt: "Select" %>

    <%# <%= form_for @intervention.to_s do |f| %> 
    <%= f.select(:building_id , [],  {prompt: "Select"}, {class: 'form-control'}) %>


    <%# <%= form_for @intervention.to_s do |f| %> 
    <%# <%= f.collection_select :Battery, Battery.all , :id , :id, prompt: "Select" %> 
    <%= f.select(:battery_id , [],  {prompt: "Select"}, {class: 'form-control'}) %>


    <%# <%= form_for @intervention.to_s do |f| %> 
    <%# <%= f.collection_select :Column, Column.all , :id , :id, prompt: "Select" %> 
    <%= f.select(:column_id , [],  {prompt: "Select"}, {class: 'form-control'}) %>


    <%# <%= form_for @intervention.to_s do |f| %> 
    <%# <%= f.collection_select :Elevator, Elevator.all , :id , :id, prompt: "Select" %>
    <%= f.select(:elevator_id , [],  {prompt: "Select"}, {class: 'form-control'}) %>
    <br>
    <%= f.submit %>
    

<% end %>

<%= javascript_include_tag 'building_selection' %>