<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :customer_creation_date %>
    <%= form.date_select :customer_creation_date %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :company_headquarters_address %>
    <%= form.text_field :company_headquarters_address %>
  </div>

  <div class="field">
    <%= form.label :full_name_of_the_company %>
    <%= form.text_field :full_name_of_the_company %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :company_contact_phone %>
    <%= form.text_field :company_contact_phone %>
  </div>

  <div class="field">
    <%= form.label :email_of_the %>
    <%= form.text_field :email_of_the %>
  </div>

  <div class="field">
    <%= form.label :company_contact %>
    <%= form.text_field :company_contact %>
  </div>

  <div class="field">
    <%= form.label :company_description %>
    <%= form.text_area :company_description %>
  </div>

  <div class="field">
    <%= form.label :full_name_of %>
    <%= form.text_field :full_name_of %>
  </div>

  <div class="field">
    <%= form.label :service_technical_authority %>
    <%= form.text_field :service_technical_authority %>
  </div>

  <div class="field">
    <%= form.label :technical_authority_phone_for %>
    <%= form.text_field :technical_authority_phone_for %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service %>
  </div>

  <div class="field">
    <%= form.label :technical_manager_email_for_service %>
    <%= form.text_field :technical_manager_email_for_service %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
