<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @customer.user %>
</p>

<p>
  <strong>Customer creation date:</strong>
  <%= @customer.customer_creation_date %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @customer.company_name %>
</p>

<p>
  <strong>Company headquarters address:</strong>
  <%= @customer.company_headquarters_address %>
</p>

<p>
  <strong>Full name of the company:</strong>
  <%= @customer.full_name_of_the_company %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Company contact phone:</strong>
  <%= @customer.company_contact_phone %>
</p>

<p>
  <strong>Email of the:</strong>
  <%= @customer.email_of_the %>
</p>

<p>
  <strong>Company contact:</strong>
  <%= @customer.company_contact %>
</p>

<p>
  <strong>Company description:</strong>
  <%= @customer.company_description %>
</p>

<p>
  <strong>Full name of:</strong>
  <%= @customer.full_name_of %>
</p>

<p>
  <strong>Service technical authority:</strong>
  <%= @customer.service_technical_authority %>
</p>

<p>
  <strong>Technical authority phone for:</strong>
  <%= @customer.technical_authority_phone_for %>
</p>

<p>
  <strong>Service:</strong>
  <%= @customer.service %>
</p>

<p>
  <strong>Technical manager email for service:</strong>
  <%= @customer.technical_manager_email_for_service %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
