<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @building.customer %>
</p>

<p>
  <strong>Address of the building:</strong>
  <%= @building.address_of_the_building %>
</p>

<p>
  <strong>Full name of the building administrator:</strong>
  <%= @building.full_name_of_the_building_administrator %>
</p>

<p>
  <strong>Email of the administrator of the building:</strong>
  <%= @building.email_of_the_administrator_of_the_building %>
</p>

<p>
  <strong>Phone number of :</strong>
  <%= @building.phone_number_of_ %>
</p>

<p>
  <strong>The building administrator:</strong>
  <%= @building.the_building_administrator %>
</p>

<p>
  <strong>Full name of the technical contact for the building:</strong>
  <%= @building.full_name_of_the_technical_contact_for_the_building %>
</p>

<p>
  <strong>Technical contact email for:</strong>
  <%= @building.technical_contact_email_for %>
</p>

<p>
  <strong>The building:</strong>
  <%= @building.the_building %>
</p>

<p>
  <strong>Technical contact phone for the building:</strong>
  <%= @building.technical_contact_phone_for_the_building %>
</p>

<p>
  <strong>Database:</strong>
  <%= @building.database %>
</p>

<p>
  <strong>Development:</strong>
  <%= @building.development %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
