<p id="notice"><%= notice %></p>

<h1>Fact Interventions</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Customer</th>
      <th>Building</th>
      <th>Battery</th>
      <th>Column</th>
      <th>Elevator</th>
      <th>Employee</th>
      <th>Intervention start</th>
      <th>Intervention end</th>
      <th>Result</th>
      <th>Report</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fact_interventions.each do |fact_intervention| %>
      <tr>
        <td><%= fact_intervention.author %></td>
        <td><%= fact_intervention.customer_id %></td>
        <td><%= fact_intervention.building_id %></td>
        <td><%= fact_intervention.battery_id %></td>
        <td><%= fact_intervention.column_id %></td>
        <td><%= fact_intervention.elevator_id %></td>
        <td><%= fact_intervention.employee_id %></td>
        <td><%= fact_intervention.intervention_start %></td>
        <td><%= fact_intervention.intervention_end %></td>
        <td><%= fact_intervention.result %></td>
        <td><%= fact_intervention.report %></td>
        <td><%= fact_intervention.status %></td>
        <td><%= link_to 'Show', fact_intervention %></td>
        <td><%= link_to 'Edit', edit_fact_intervention_path(fact_intervention) %></td>
        <td><%= link_to 'Destroy', fact_intervention, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fact Intervention', new_fact_intervention_path %>
