<p id="notice"><%= notice %></p>

<h1>Fact Quotes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fact_quotes.each do |fact_quote| %>
      <tr>
        <td><%= link_to 'Show', fact_quote %></td>
        <td><%= link_to 'Edit', edit_fact_quote_path(fact_quote) %></td>
        <td><%= link_to 'Destroy', fact_quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fact Quote', new_fact_quote_path %>
